@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;800&family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #383838;
  font-family: 'Poppins';
  height: 1400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
